@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  background-color: rgb(234, 234, 234) !important;
  /* font-family: 'Josefin Sans', cursive; */
  /* font-family: 'Jost', sans-serif; */
  font-family: "Montserrat", sans-serif;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(129, 140, 185) 0%,
    rgb(33, 138, 174) 59%,
    rgb(16, 45, 46) 89%
  ) !important;
  position: fixed;
  z-index: 1000;
}

.button.ui.positive.button {
  background-color: rgb(75, 83, 95) !important;
}



/*end of basic styles*/

/* datepicker mobile*/
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  /* display: block; */
  width: 70px;
  border: none;
}

/* .datePicker {
  display: block;
  width: 50%;
  color: red;
}

.prudence {
  background-color: red;
} */
.hideScroll {
  overflow-y: hidden;
}
.hideScroll:hover,
#ID:active,
#ID:focus {
  overflow-y: auto;
  float: left;
  height: 80vh;
}

/* scrollable details style */
/* :hover */
.sideScroll {
  /* overflow-y: auto;
  float: left; */
  height: 80vh;
  /* width: '100%'; */
  position: relative;
  /* scroll-behavior: 'revert' */
  /* display: flex;
  flex-direction: column-reverse; */
  /* color: inherit; */
}
.scrollRevert {
  /* overflow-y: auto; */
  overflow: scroll;
  /* float: left; */
  height: 70vh;
  width: 100%;
  /* position: absolute; */
  display: flex;
  flex-direction: column-reverse;
}

/* PLACEHOLDER (Private messages but also forms) */
::-webkit-input-placeholder {
  color: gray;
  text-align: center;
  font-size: medium;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: gray;
  text-align: center;
  font-size: medium;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: gray;
  text-align: center;
  font-size: medium;
}
:-ms-input-placeholder {
  color: gray;
  text-align: center;
  font-size: medium;
}

/* header link styles for listItems */
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Classes for mobile messages */

@media only screen and (max-width: 767px) {
  .mobview {
    /* color: red;
    background-color: blue; */
    display: flex;
    justify-content: center;
    /* text-align:justify; */
  }
  .btnview {
    width: fit-content;
    /* background-color: blue; */
  }
  .btnview_show {
    width: fit-content;
    /* background-color: blue; */
  }
  .btnview_hide {
    display: none;
  }
  .btnview_show {
    /* width: fit-content; */
    display: none;
  }
}
@media only screen and (min-width: 767px) {
  .btnview_show {
    display: none;
    /* background-color: blue; */
  }
}

/* Dropdown messages */
/* .messagesDropdown {
  color: darkgoldenrod !Important;
}

.ui.dropdown .menu>.item  {
  border-bottom: 1px solid #3F72AF !Important;
  color: darkgoldenrod !Important;
} */
/* .a.item>.messagesDropdown {
  background-color: darkgoldenrod;
}
.a.item {
  background-color: darkgoldenrod;
}
.ui.dropdown .menu>.item .messagesDropdown {
  background-color: darkgoldenrod;
}
.ui.menu .ui.dropdown .menu>.item>.messagesDropdown{
  background-color: darkgoldenrod;
} */

.picker-container {
  position: relative;
  width: 300px;
}
.emoji-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: larger;
  /* position: relative; */
  /* top: -45px; */
  /* left: 5px; */
  /* right: -700px; */
}
.input-style {
  padding: 7px 30px 7px 10px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: 1px solid #999;
  margin-bottom: 10px;
}

/* User Online */
@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.isOnline {
  animation: fa-blink 1.5s linear infinite;
  color: rgb(1, 189, 42);
}

/* Mobile info */
.mobileInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* color: rgba(4, 42, 129, 0.87); */
}

/* Fix messenger area */
#top {
  position: fixed;
  top: 60px;
  left: 30px;
  right: 30px;
  z-index: 999;
  width: 95%;
  max-height: 90vh;
  overflow: hidden;
}

.send-button,
.smiley-picker {
  font-size: 26px;
}

.textareaRef {
  min-height: 16px;
  resize: none;
  font-size: 16px;
  /* border: 3px solid red; */
}

.message-list-item {
  font-size: 16px;
}

/* .inside {
  min-height: 12px;
  max-height: 14px;
  border-radius: 20px;
} */

@media only screen and (max-width: 767px) {
  .send-button,
  .smiley-picker {
    font-size: 14px;
  }
  .message-list-item {
    font-size: 12px;
  }
  .textareaRef {
    /* max-height: 2rem; */
    height: 1.5rem;
    max-width: 98%;
  }
  .scrollRevert{
    height: 75vh;
  }

  #top {
    top: 50px;
    left: 7px;
    right: 7px;
    height: 100%;
  }
}
